/*------ Global --------- */
:root{
    --text-h-color: #aebcc6;
    --text-box-color: rgb(32, 32, 32);
    --gradient-color: rgba(0,0,0,0.2);
    --text-footer: rgba(255, 251, 0, 0.7);
}

.bg-background{
    background-color: var(--text-box-color);
    color: whitesmoke;

    font-family: 'Roboto';
}

/*--------------  Header ---------------*/
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu{
    background-color: var(--gradient-color);
    height: 70px;
}

#menu #logo{
    margin-left: 140px;
} 

#menu figure img{
    width: 25%;
}

#menu nav ul{
    margin-right: 125px;
}

#menu nav ul li{
    display: inline-block;
    margin: 5px;
    padding: 29px 10px;
    color: var(--text-h-color);
    transition: .2s;
}

#menu nav ul li::after{
    content: '';
    display: block;
    height: 2px;
    background-color: var(--text-h-color);
    width: 0;
    transition: .3s;
}

#menu nav ul li:hover::after{
    width: 100%;
}

#menu nav ul img{
    width: 15px;
}

/* --------------- Main Content --------------*/
.main-content{
    margin-top: 70px;
    margin: auto;
}

.main-content .text-content{
    width: 60%;
    margin: 50px 0;
    margin-left: 140px;
}

.main-content .banner{
    width: 79%;
    margin: auto;
}

.main-content h1{
   font-weight: 300; 
   font-size: 45px;
}

.main-content .box-content{
    background-color: #fff;
    width: 100%;
    height: 60vh;
    margin-bottom: 25px;

}

.main-content .flex, .footer-content .flex{
    display: flex;
    justify-content: space-around;
}

.main-content .box-content .box-text{
    padding-left: 30px;
    padding-top: 30px;
}

.main-content .box-content .box-text .text{
    width: 95%;
}

.main-content .box-content .box-text h2{
    color: #000;
    margin: 20px 0;
}

.main-content .box-content .box-text p{
    color: var(--text-box-color);
    font-weight: 400;
    margin-bottom: 25px;
}

.main-content .box-content .box-text a{
    text-align: right;
    display: block;
    width: 95%;
    text-decoration: none;
    color: var(--text-box-color);
    font-weight: 500;
}

.main-content .box-content .box-text a:hover{
    transform: scale(1.02);
}

.main-content .two{
    background: linear-gradient(45deg, rgba(67, 67, 67, 0.6), rgba(0,0,0.5)), url('../images/chicken-burger.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.main-content .three{
    background: linear-gradient(45deg, rgba(67, 67, 67, 0.6), rgba(0,0,0.5)), url('../images/bg-burger-two.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content .two .box-text .text h2, 
.main-content .two .box-text .text p,
.main-content .three .box-text .text h2, 
.main-content .three .box-text .text p{
    color: white;
}

.main-content .box-content .box-text a::after{
    content: url('/images/right-arrow.png');
    width: 20px;
    vertical-align: middle;
    margin-top: 120px;
    margin-left: 5px;
}

.main-content .box-content figure img{
    height: 60vh;
    width: 40vw; 
}

/* -----------  Footer -----------*/
.footer-content{
    background: linear-gradient(45deg, rgba(67, 67, 67, 0.6), rgba(0,0,0.5)), url('https://i.pinimg.com/originals/3d/74/48/3d7448d967b616c1cf815b3e3480b1b2.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-content .banner{
    width: 79%;
    margin: auto;
    padding: 50px 0;
}

.footer-content .banner p{
    color: #fff;
    font-weight: 300;
}

.footer-content .flex-container{
    display: flex;
    align-items: flex-start;
}

.footer-content .banner .flex-item{
    width: 30%;
}

.footer-content .banner .flex-item figure img{
    width: 50px;
    margin-bottom: 10px;
}

.footer-content .banner .flex-item .subtitle{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin-top: -1px;
    margin-left: 3px;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-content .banner .flex-item .subtitle span{
    color: #fff;
    font-weight: 300;
}

.footer-content .banner .posts{
    width: 20%;
}

.footer-content .banner .posts figure{
    padding: 5px;
    transition: .5s;
}

.footer-content .banner .posts figure:hover{
    background-color: var(--text-box-color);
    width: 100%;
}

.footer-content .banner .tag{
    width: 32%;
}

.footer-content .banner  h3{
    margin-bottom: 10px;
}


.footer-content .banner .flex-item ul li{
    display: inline-block;
    background: var(--text-box-color);
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.footer-content .banner .flex-item ul li:hover{
    transform: scale(1.05);
}

.footer-content .copyright{
    background-color: rgba(24, 21, 21, 0.747);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content .copyright p{
    margin-left: 140px;
}

.footer-content .copyright figure{
    margin-right: 140px;
}

.footer-content .copyright img{
    width: 25px;
    margin: 0 5px;
}